body{
    background: url('../ảnh xinh/background123.jpg');
    background-size: cover;
}
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#form-login{
    max-width: 400px;
    background: rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.5);
}
.form-heading{
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    border-bottom: 1px solid #f5f5f5;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex
}
.form-group i{
    color: #f5f5f5;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    flex-grow: 1;
    color: #f5f5f5;
    padding-left: 10px;
}
.form-input ::placeholder{
    color: #f5f5f5;
}
#eye i{
    cursor: pointer;
}
.form-submit{
    background: transparent;
    border: 1px solid;
    color: #f5f5f5;
    width:100%;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 10px;
}
.form-submit:hover{
    border: 1px solid #787bd9;
}